.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

corbado-auth {
    --border-container-width: 0;
    --primary-color: #14b8a6;
    --primary-font: var(--font-poppins);
    --secondary-font: var(--font-poppins);
}